
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #76C7E3; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  .login-container h2 {
    margin-bottom: 20px;
    color: #FFFFFF; 
    font-size: 24px;
  }
  

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
 
  .form-label {
    color: #FFFFFF; 
    font-size: 14px;
    text-align: left;
  }
  

  .form-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #FFA500; 
    color: #FFFFFF; 
  }
  
  .form-input::placeholder {
    color: #F5F5F5; 
  }
  
  /* Button for login */
  .login-button {
    padding: 12px;
    background-color: #A8D44B; 
    color: #FFFFFF; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #76C7E3; 
  }
  
  .error-message {
    color: #FFA500;
    font-size: 14px;
    margin-bottom: 10px;
  }
  

  .signup-redirect {
    margin-top: 20px;
    font-size: 14px;
    color: #FFFFFF; 
  }
  
  .signup-redirect a {
    color: #A8D44B;
    text-decoration: none;
  }
  
  .signup-redirect a:hover {
    text-decoration: underline;
  }