.form {
  margin-top: 100px;  /* Space below the navbar */
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 1.2rem;
  color: white; /* White font color */
  max-width: 300px  ;
  display: inline-block;
}

.label {
  display: block;
  margin-bottom: 1.5rem;
  color: white; /* White font color */
}

.checkboxGroup {
  margin-bottom: 1.5rem;
  color: white; /* White font color */
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.button {
  padding: 0.7rem 1.5rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white; /* White font color */
}

button:hover {
  background-color: var(--secondary-color);  /* Hover effect */
}
